:root {
    --bg-color: #c5c5c5;
    --color: #36454F;
}

*::before, *, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    color: var(--color);
    font-size: 18px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 1em;
}

.header, .footer {
    background: var(--color);
    color: var(--bg-color);
    padding: 1em;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 120%;
}

.inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu,
.add {
    background: var(--color);
    color: var(--bg-color);
    align-items: center;
    padding: 1em;
}

.menu {
    border-radius: 0 2em 2em 0;
    width: 10%;
    transition: width .8s ease;
}

.add {
    border-radius: 2em 0 0 2em;
    min-width: 10%;
}

.menu:hover {
    width: 20%;
}

.menu:hover + .content {
    background: #ff0000;
    transition: .8s;
}

.content {
    width: 100%;
}